#footer {
    padding: 50px;
    position: relative;
    margin-bottom: 60px;
}

#footer>p {
    font-size: 20px;
    width: 100%;
    line-height: 2.5;
    border-bottom: 1px solid #868686;
    color: #868686;
}

.footer_text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer_text>div {
    padding: 30vh 0;
}

.footer_text div h2 {
    font-family: 'Partizeno';
    white-space: pre-line;
    width: 100%;
    font-size: 60px;
}

.footer_text div p {
    font-size: 1.2vw;
    white-space: pre-line;
    padding-top: 5vw;
}

.connection {
    margin-top: 200px;
    width: 100%;
    height: 700px;
}

.connection>p {
    font-family: 'Partizeno';
    font-size: 100px;
    line-height: 0.61;
}

.connection_box {
    display: flex;
    background-color: #F2F2F2;
    padding: 4vw;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #b7b7b7;
    position: relative;
}

.side {
    width: 20%;
}

.chat_box {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.chat_box .show {
    height: 85%;
    width: 100%;
    background-color: #e3e3e3;
    padding: 20px;
}

.chat_box .show p {
    font-family: 'NanumSquareNeo';
    border-radius: 10px 10px 10px 0px;
    padding: 15px 20px;
    width: 45%;
    background-color: #aaaaaa;
}

.chat_box .input {
    margin-top: 7px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.chat_box .input input {
    outline: none;
    padding: 20px;
    width: 79%;
    height: 80px;
    border: 1px solid #b7b7b7;
    margin-bottom: 5px;
}

.chat_box .input button {
    font-size: 20px;
    font-family: 'Poiret One';
    height: 80px;
    width: 20%;
    padding: 5px;
    border: 0;
    color: #fff;
    background-color: #868686;
}

@media (max-width: 1000px) {
    .footer_text div h2 {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    #footer {
        padding: 0 30px;
    }

    .footer_text>div {
        padding: 15vh 0;
    }

    .footer_text div h2 {
        font-size: 30px;
    }

    .footer_text div p {
        font-size: 14px;

    }
}

@media (max-width: 450px) {
    #footer {
        padding-bottom: 50px;
    }

    #footer p {
        font-size: 3vw;
    }

    .footer_text>div {
        padding: 50vw 0;
    }

}