.work {
    padding: 30vh 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.work>p {
    font-size: 25px;
    width: 100%;
    line-height: 2.5;
    border-bottom: 1px solid #868686;
    color: #868686;
}

.work_box {
    padding-top: 15vw;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.work_Sorce {
    position: absolute;
    left: 30%;
    bottom: -20%;
    transform: translate(-30%, -20%);
    font-size: 15vw;
    font-family: 'Partizeno';
}

.work_img {
    width: 50%;
}


.work_text {
    padding: 20px 0;
}

.work_text h2 {
    font-size: 30px;
}

.work_text p {
    padding-top: 10px;
    font-size: 16px;
}

.work_button ul {
    font-family: 'Poiret One', sans-serif;
    display: flex;

}

.work_button ul li {
    cursor: pointer;
    margin-right: 0.5vw;
    padding: 10px 4vw;
    background-color: #E8E9E9;
    border-radius: 500px;
    font-size: 1.2vw;
    transition: all 0.5s;
}

.work_button ul li:hover {
    background-color: #868686;
    color: #fff;
}

.work_desc {
    line-height: 1.5;
    white-space: pre-line;
    font-size: 14px;
    padding-bottom: 2vw;
}

.work_01_textbox,
.work_03_textbox,
.work_05_textbox {
    width: 60%;
    margin-left: 2vw;
}

.work_02,
.work_04,
.work_06 {
    display: flex;
    justify-content: right;
}

.work_02_textbox,
.work_04_textbox,
.work_06_textbox {
    text-align: right;
}

.work_02_textbox,
.work_04_textbox,
.work_06_textbox {
    width: 60%;
    margin-right: 2vw;
}

.button_right {
    display: flex;
    justify-content: right;
}

.sorce_right {
    left: 60%;
}

.mobile {
    display: none;
}


@media(max-width: 1200px) {
    .work_box {
        padding-top: 20vw;
    }

    .work_Sorce {
        bottom: -25%;
    }

    .work_desc {
        font-size: 14px;
    }
}

@media(max-width: 1000px) {
    .work_desc {
        font-size: 12px;
    }
}


@media(max-width: 800px) {
    .work {
        padding-top: 10vw;
    }

    .work_Sorce {
        bottom: -27%;
    }

    .work_img {
        width: 50%;
    }

    .work_text h2 {
        font-size: 25px;
    }

    .work_text p {
        font-size: 15px;
    }

    .work_button ul li {
        font-size: 14px;
        padding: 5px 5vw
    }

    .work_desc {
        font-size: 11px;
    }
}


@media(max-width: 600px) {
    .work {
        padding-bottom: 20vw;
    }

    .work>p {
        font-size: 4vw;
    }

    .desctop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .work_Sorce {
        font-size: 25vw;
        left: 100%;
        bottom: 18%;
        transform: translate(-90%, -33%);
    }

    .work_box {
        flex-wrap: wrap;
    }

    .work_img {
        margin: 0 auto;
        width: 100%;
    }

    .work_01_textbox,
    .work_02_textbox,
    .work_03_textbox,
    .work_04_textbox,
    .work_05_textbox,
    .work_06_textbox {
        padding-top: 5vw;
        width: 100%;
    }

    .work_text {
        padding-bottom: 1vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d1d1d1;
        line-height: 2;
    }

    .work_text h2 {
        font-size: 4vw;
    }

    .work_text p {
        font-size: 2.5vw;
        padding-top: 5px;
    }

    .work_button {
        padding-top: 2vw;
    }

    .work_button ul {
        justify-content: space-between;
    }

    .work_button ul li {
        text-align: center;
        width: 33.33%;
        font-size: 2.5vw;
    }

    .work_desc {
        text-align: left;
        font-size: 2.5vw;
    }
}

@media(max-width: 450px) {

    .work_Sorce {
        font-size: 25vw;
        left: 100%;
        bottom: 27%;
        transform: translate(-90%, -33%);
    }


    .work_text h2 {
        font-size: 4.5vw;
    }

    .work_text p {
        font-size: 2.5vw;
        padding-top: 5px;
    }

    .work_button {
        padding-top: 2vw;
    }

    .work_button ul {
        justify-content: space-between;
    }

    .work_button ul li {
        text-align: center;
        width: 33.33%;
        font-size: 2vw;
        font-size: 3vw;
    }

    .work_desc {
        text-align: left;
        font-size: 3.2vw;
    }
}